
.fixed-action-btn { 
    position: relative;
    right: 0px;
    bottom: 0px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
.btn-floating{
	background-color: #fff;
}
.btn-floating:hover{
	background-color: #fff;
}
.textarea-underline_orange{
	border-bottom: 3px solid #ffff00 !important;
}
.textarea-underline_red{
	border-bottom: 3px solid #b71c1c !important;
}
.p-adjust{
    word-wrap: break-word;
}